library(readr)
dirty_data <- read_csv("~/Downloads/dirty_data.csv")
library(zoo)
dirty_data$Area <- na.locf(dirty_data$Area,fromFirst = TRUE)

library(stringi)
dirty_data$Street <- stri_trans_general(dirty_data$Street, "Latin-ASCII")
dirty_data$Street <- gsub("(^|[[:space:]])([[:alpha:]])", "\\1\\U\\2", dirty_data$Street, perl=TRUE)
dirty_data$`Street 2` <- gsub("(^|[[:space:]])([[:alpha:]])", "\\1\\U\\2", dirty_data$Street, perl=TRUE)

dirty_data$`Street 2` <- gsub("[Ss]treet", "Str.", dirty_data$`Street 2`)
dirty_data$Street <- gsub("[Ss]treet", "Str.", dirty_data$Street)
dirty_data$`Street 2` <- 
  if (dirty_data$`Street 2` == dirty_data$Street){
  ""
} else {
  dirty_data$`Street 2`
}
dirty_data$`Strange HTML` <- NULL
View(dirty_data)
write.csv(dirty_data, file = "clean_data.csv")
